@model List<Best>
<div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">Responsive Table</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ImgUrl</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Address</th>
                    <th>Actions</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/assets/images/@item.ImgUrl" alt="Alternate Text" />
                        </td>
                        <td>@item.CAtegory</td>
                        <td>@item.Price</td>
                        <td>@item.Address</td>
                     <td>
                            <a asp-area="Admin" asp-controller="Best" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success rounded-pill m-2">Deatails</a>
                            <a asp-area="Admin" asp-controller="Best " asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning rounded-pill m-2">Warning</a>
                            <a asp-area="Admin" asp-controller="Best" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-pill m-2">Delete</a>
                      </td>
                    </tr>
                }       
            </tbody>
         </table>
    </div>
</div>
           
            <!-- Table End -->

